
<!DOCTYPE html>
<Center><h1>Data Dashboard</h1> </Center>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    <title> </title>

<style>
  .chartBox{
    width: 1000px;
  }
</style>
  </head>
<body>
  <br>

  <br><br>
  <Center><h3>Percentages of each Product type</h3></Center>
  
  <div class="chartBox">
    <canvas id="myChart1"></canvas>
  </div>
  <!-- <div class="chartBox">
    <canvas id="myChart2"></canvas>
</div>  -->

    <!-- <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div> -->

    <br>
  

  
<br>
<br><br>
<Center><h3>Percentages of each Buildtrain type</h3></Center>

<div class="chartBox">
  <canvas id="myChart5"></canvas>
</div>
<br><br>
<Center><h3>Percentages of each type of Build versions</h3></Center>



  <div class="chartBox">
        <canvas id="myChart6"></canvas>
    </div>
<br>

<br><br>
<Center><h3>Percentages of each Agentid type</h3></Center>

<div class="chartBox">
  <canvas id="myChart3"></canvas>
</div>
<br>

<br><br>
<Center><h3>Percentages of each State Type'</h3></Center>

<div class="chartBox">
  <canvas id="myChart4"></canvas>
</div>
<br>

<br><br>
<Center><h3>Percentages of each type of Hardware models</h3></Center>

<div class="chartBox">
  <canvas id="myChart7"></canvas>
</div>


    <script>

        // var ctx = document.getElementById('myChart').getContext('2d');
        // var myChart = new Chart(ctx, {
        //     type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

        //     data: {
        //         labels: {{labels|safe}},
        //         datasets: [{
        //             data: {{data|safe}},
        //             backgroundColor: {{colors|safe}}
        //         }]
        //     },
        //     options: {
        //         title: {
        //             display: true,
        //             text: 'percentages of Connected and disconnected Devices',
        //         },
        //         legend: {
        //             disblay: true,
        //             position: 'right',
        //             labels: {
        //                 fontColor: '#000'
        //             }
        //         }

        //     }


        // });

        var ctx = document.getElementById('myChart6').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels6|safe}},
                datasets: [{
                    data: {{data6|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                // title: {
                //     display: true,
                //     text: 'percentages of each type of build versions',
                // },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });




        var ctx = document.getElementById('myChart7').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels7|safe}},
                datasets: [{
                    data: {{data7|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                // title: {
                //     display: true,
                //     text: 'percentages of each type of hardware models',
                // },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });

        var ctx = document.getElementById('myChart5').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels5|safe}},
                datasets: [{
                    data: {{data5|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                // title: {
                //     display: true,
                //     text: 'percentages of each biuldtrain type',
                // },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });

  // var ctx = document.getElementById('myChart2').getContext('2d');
  //       var myChart = new Chart(ctx, {
  //           type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

  //           data: {
  //               labels: {{labels2|safe}},
  //               datasets: [{
  //                   data: {{data2|safe}},
  //                   backgroundColor: {{colors|safe}}
  //               }]
  //           },
  //           options: {
  //               title: {
  //                   display: true,
  //                   text: 'percentages of each chip type',
  //               },
  //               legend: {
  //                   disblay: true,
  //                   position: 'right',
  //                   labels: {
  //                       fontColor: '#000'
  //                   }
  //               }

  //           }


  //       });



        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels3|safe}},
                datasets: [{
                    data: {{data3|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                // title: {
                //     display: true,
                //     text: 'percentages of each agentid type',
                // },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });





        var ctx = document.getElementById('myChart4').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels4|safe}},
                datasets: [{
                    data: {{data4|safe}},
                    backgroundColor: {{colors|safe}}
                }]
            },
            options: {
                // title: {
                //     display: true,
                //     text: 'percentages of each state Type',
                // },
                legend: {
                    disblay: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                }

            }


        });



        var ctx = document.getElementById('myChart1').getContext('2d');
  
  var myChart = new Chart(ctx, {
      type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

      data: {
          labels: {{labels1|safe}},
          datasets: [{
              data: {{data1|safe}}
              // backgroundColor: {{colors|safe}}
          }]
      },
      options: {
          // title: {
          //     display: true,
          //     text: 'percentages of each product Type',
          // },
          legend: {
              disblay: true,
              position: 'right',
              labels: {
                  fontColor: '#000'
              }
          }

      }


  });
        

</script>
</body>
</html>
